beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
DAWG-Python==0.7.2
docopt==0.6.2
idna==3.10
langdetect==1.0.9
natsort==8.4.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
regex==2024.11.6
requests==2.32.3
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.2.3
